<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href=""><img src="assets/img/logo.png" class="img-responsive" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a routerLink="index" routerLinkActive="active"><img src="assets/img/home.png" alt="icon1" class="img-responsive">Home Page</a>
                    </li>
                    <li>
                        <a href=""><img src="assets/img/member.png" alt="icon2" class="img-responsive">Member Reviews
                        </a>
                    </li>
                    <li>
                        <a href=""><img src="assets/img/help.png" alt="icon3" class="img-responsive">Help</a>
                    </li>
                    <li>
                        <a routerLink="contact" routerLinkActive="active"><img src="assets/img/contact.png" alt="icon4" class="img-responsive">Contact us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>