<section class="main boxs">
    <div class="container">
        <div class="main_inner boxs">
            <h2>Contact Us</h2>
            <p>To contact a friendly and knowledge Bet Accumulator Tips representative please complete the short form below and click submit. A<br> representative will respond to your message within 24 hours.</p>
        </div>
    </div>
</section>
<section class="reviews boxs">
    <div class="container">
        <div class="contact boxs">
            <div class="contact_form boxs">
                <div class="error_msg boxs">
                    <div class="success boxs">
                        <p>Success! Your message has been submitted successfully.</p>
                    </div>
                    <div class="success error boxs">
                        <p>Error! A problem has occurred while submitting your message. Please try again.</p>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form_left boxs">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                                <div class="boxs">
                                    <input type="text" class="form-control" placeholder="Contact">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form_rht boxs">
                                <textarea class="form-control" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="button">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>